<a href="https://colab.research.google.com/github/Praneetha5151/Pasupuleti_IT533/blob/main/week3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
amazon = pd.read_csv("https://raw.githubusercontent.com/Praneetha5151/Pasupuleti_IT533/main/amazon_toy_sample_clean.csv",encoding="ISO-8859-1")
amazon.dropna(inplace=True)

In [ ]:
a = amazon
a.head()

1. Data Transformation: Pick three variables whose data types may be more useful as another data type and utransform them to numeric or character/ categorical format. Then, insert a text section into your notebook and explain in no less than 3 sentences what this transformation will allow you to accomplish analytically later on.

In [ ]:
# First Variable: status
# First, we back the dataframe up.
a1=amazon

# Now we build the column and copy the original values into it
a1['status_num'] = a1.status

# Third, we convert state_num into categorical
a1['status_num']= a1['status_num'].astype('category')

# Then, we replace the strings with the category indices
a1['status_num']= a1['status_num'].cat.codes

# Now, we check the data types
a1.dtypes[['status','status_num']]

status        object
status_num      int8
dtype: object

In [ ]:
a1.head()

In [ ]:
# Second Variable: status
# First, we back the dataframe up.
a1=amazon

# Now we build the column and copy the original values into it
a1['manufacturer_num'] = a1.manufacturer

# Third, we convert manufacturer_num into categorical
a1['manufacturer_num']= a1['manufacturer_num'].astype('category')

# Then, we replace the strings with the category indices
a1['manufacturer_num']= a1['manufacturer_num'].cat.codes

# Now, we check the data types
a1.dtypes[['manufacturer','manufacturer_num']]

In [ ]:
a1.head()

In [ ]:
# Third Variable: pledged
# First, we back the dataframe up.
a1=amazon

# Now we build the column and copy the original values into it
a1['average_review_rating_of_5_int'] = a1.average_review_rating_of_5

# Third, we convert pledged_num into int32
a1['average_review_rating_of_5_int']= a1['average_review_rating_of_5_int'].astype('int32')

# Now, we check the data types
a1.dtypes[['average_review_rating_of_5','average_review_rating_of_5_int']]

In [ ]:
a1.head()

Here Data transformation is done on status, manufacturer, average_review_rating_of_5.

status data transformation to categorical makes us to make categories in status values.

manufacturer data transformation to categorical makes us to make categories in manufacturer values.

average_review_rating_of_5 transformation to integer makes us to know how many reviews comes under review.

2. Data Substitution: Substitute values in at least two variables. Insert a text section into your notebook and explain in no less than 3 sentences how you decided what values to use for substitution and, in addition to your explanation, show your code.

In [ ]:
a2 = amazon
a2.customer_questions_and_answers.unique()

In [ ]:
# Instead of building another column to see any transformations, we will substitute data in place this time around.
# For this purpose, we're using the replace() method from pandas
a2.customer_questions_and_answers.replace('None','0', inplace=True)

# Did we indeed replace all '?'? Let's check:
a2[a2['customer_questions_and_answers'] == 'None']

In [ ]:
a2.head()

In [ ]:
a2.description.unique()

In [ ]:
# Instead of building another column to see any transformations, we will substitute data in place this time around.
# For this purpose, we're using the replace() method from pandas
a2.description.replace('Manufacturer\'s Description not available','Not Available', inplace=True)

# Did we indeed replace all '?'? Let's check:
a2[a2['description'] == 'Manufacturer\'s Description not available']

In [ ]:
a2.head()

Data substitution is done on customer_questions_and_answers and description.

In description variable replacing Manufacturer's Description not available to Not available to be precise.

In customer_questions_and_answers variable replacing None as 0 to be understand clearly.

Question 3: Data Reduction: Pick two variables that could be simplified by binning or bucketing, or by normalization or standardization. Then perform the operation(s) you have chosen. Insert a text section into your notebook and explain in no less than 3 sentences what benefit this may provide for any later analysis.

In [ ]:
a1.average_review_rating_of_5	.describe()

In [ ]:
# Variable 2: usd_goal_real simplified by using Bucketing method.
# Setting up our 5 buckets and their labels
buckets = [ 0, 1, 2, 3, 4, 5]
bucketlabels = ['very bad','bad', 'Average', 'Good', 'Very Good']

# Using cut() to separate data into the buckets we have built
a1['buckets'] = pd.cut(a1['average_review_rating_of_5'] , bins=buckets, labels=bucketlabels, include_lowest=True)

# Check if we have the new attribute 'buckets' at the end of our dataset
a1.head()

In [ ]:
a3.groupby(['buckets']).count()

Question **3** : Variable 2

In [ ]:
a1.number_of_reviews.describe()

In [ ]:
bins = np.linspace(a1.number_of_reviews.min(),a1.number_of_reviews.max(),5)
bins

In [ ]:
labels = ['very_Few', 'Few','more','many']

In [ ]:
# Variable 1: backers simplified by using Binning methods.
a3 = amazon 
a3['bins'] = pd.cut(a3['number_of_reviews'], bins=bins, labels=labels, include_lowest=True)
a3.head()

In [ ]:
a3.groupby(['bins']).count()

Data Reduction done on number_of_reviews and average_review_rating_of_5 using bucketing and binning methods.

*4. Now that you have a better dataset, think about any important organizational analytical questions that management could ask about the dataset in order to help them make business or organizational decisions. *

What can we analysis with the average rating of 5?